.epoch_card {
    margin-bottom: 30px;
}

.epoch_card img {
    vertical-align: middle;
}

.epoch_card>a {
    overflow: hidden;
    max-height: 150px;
}

.jumbotron-small-text {
    font-size: 13px;
}